<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom">
            <clear />
            <remove statusCode="403" subStatusCode="-1"></remove>
            <remove statusCode="404" subStatusCode="-1"></remove>
            <remove statusCode="405" subStatusCode="-1"></remove>
            <remove statusCode="408" subStatusCode="-1"></remove>
            <remove statusCode="500" subStatusCode="-1"></remove>
            <remove statusCode="502" subStatusCode="-1"></remove>
            <remove statusCode="504" subStatusCode="-1"></remove>
            <error statusCode="403" path="/error/error.php?status=403" responseMode="ExecuteURL"></error>
            <error statusCode="404" path="/error/error.php?status=404" responseMode="ExecuteURL"></error>
            <error statusCode="405" path="/error/error.php?status=405" responseMode="ExecuteURL"></error>
            <error statusCode="408" path="/error/error.php?status=408" responseMode="ExecuteURL"></error>
            <error statusCode="500" path="/error/error.php?status=500" responseMode="ExecuteURL"></error>
            <error statusCode="502" path="/error/error.php?status=502" responseMode="ExecuteURL"></error>
            <error statusCode="504" path="/error/error.php?status=504" responseMode="ExecuteURL"></error>
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors mode="On">
            <error statusCode="403" redirect="/error/error.php?status=403"></error>
            <error statusCode="404" redirect="/error/error.php?status=404"></error>
            <error statusCode="405" redirect="/error/error.php?status=405"></error>
            <error statusCode="408" redirect="/error/error.php?status=408"></error>
            <error statusCode="500" redirect="/error/error.php?status=500"></error>
            <error statusCode="502" redirect="/error/error.php?status=502"></error>
            <error statusCode="504" redirect="/error/error.php?status=504"></error>
            </customErrors>
        </system.web>
    </configuration>